
@font-face {
    font-family: 'Halflings';
    src: url('./fonts/glyphicons-halflings-regular.ttf') format(‘truetype’),
        url('./fonts/glyphicons-halflings-regular.woff') format(‘woff’),
        url('./fonts/glyphicons-halflings-regular.woff') format(‘woff2’),
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}



h1 {
    color: white;
    font-size: 2em;
    text-align: center;
    font-family: 'Halflings';
}

h2 {
    color: white;
    font-size: 1em;
    text-align: center;
}

header {
    background-color: black;
    color:grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
}

header>div:first-child{
    margin-right: 30px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: url(./img/hero-image.jpg);
    background-size: 150%;
    /* background-position: center; */
    height: 100vh;
}


button {
    width: 120px;
    height: 30px;
    margin:10px;
    border-radius: 5px;
    background-color: red;
    color: white;
}

header>img{
    width: 15em;
}

section>img{
    width: 50px;
    height: 50px;
}