
@font-face {
    font-family: 'Halflings';
    src: url('./fonts/glyphicons-halflings-regular.ttf') format(‘truetype’),
        url('./fonts/glyphicons-halflings-regular.woff') format(‘woff’),
        url('./fonts/glyphicons-halflings-regular.woff') format(‘woff2’),
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Halflings','MS sans serif';
   

}

h1 {
    color: white;
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    
}

h2 {
    color: white;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 30px;
    text-align: center;
}

header {
    background-color: black;
    color:grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
}

header>div>span:first-child{
    margin-right: 30px;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url(./img/hero-image.jpg);
    background-size: 110%;
    height: 55vh;
}

.presenting{
    display: flex;
    height: 30vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.involving {
    height:30vh;
    text-align: center;
    margin: 30px;
}

involving>button {
    color: orangered;
}

.card-container{
    display: flex;
}

.hero>button {
    width: 240px;
    height: 60px;
    margin:30px;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 1.8em;
}

header>img{
    width: 15em;
}

section>img{
    width: 75px;
    height: 75px;
}

footer {
    background-color: orangered;
    height: 10vh;
}

footer>img {
    margin-top: 30px;
    margin-left: 30px;
}