@font-face {
    font-family: 'Halflings';
    src: url('./fonts/glyphicons-halflings-regular.ttf') format(‘truetype’),
        url('./fonts/glyphicons-halflings-regular.woff') format(‘woff’),
        url('./fonts/glyphicons-halflings-regular.woff') format(‘woff2’),
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Halflings','MS sans serif';
   

}
/* HEADER */
header {
    background-color: #222222;
    color:grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
}
header>div>span:first-child{
    margin-right: 30px;
}
header>img{
    width: 15em;
}

/* HAUT DE LA PAGE */
.hero>p{
    color: white;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 30px;
    text-align: center;
}

h1 {
    color: white;
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url(./images/hero-image.jpg);
    background-size: 110%;
    height: 55vh;
}
.hero>button {
    width: 240px;
    height: 60px;
    margin:30px;
    border-radius: 5px;
    background-color: #d9534f;
    color: white;
    font-size: 1.8em;
}

/* MILIEU BLANC */
.milieu{
    background: #ffffff;
    text-align: center;
    align-items: center;
    margin-color: 
}
font{
    color: orangered;
}
/* MILIEU GRIS */
.features{
    background: #ebe1d7;
    text-align:center;
}
section.features .feature-container .feature {
    flex-basis: calc(33.333% - 20px);
    padding: 30px;
    box-sizing: border-box;
}
section.features > .feature-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
h2{
    color: orangered;
}
h3{
    color: orangered;
}
i{
    font-size: 40px;
}
.feature>i{
    background: rgb(51,51,51);
    color: #ffffff;
    font-size: 250%;
    padding: 17px;
    border-radius: 50%;
}
button{
    padding: 6px;
    color: orangered;
}
/* FOOTER  */
footer{
    background: #f74c3c;
    padding-top: 130px;
    padding-bottom: 30px;
}
.logo2{
    right: 25%;
    margin-left: 8%;
}